<div class="container">
  {{#if model.workers}}
  <h4>Your Workers</h4>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Hashrate (30m)</th>
          <th>Hashrate (3h)</th>
          <th>Last Share</th>
        </tr>
      </thead>
      <tbody>
        {{#each-in model.workers as |k v|}}
          <tr class="{{if v.offline "danger" "success"}}">
            <td>{{k}}</td>
            <td>{{format-hashrate v.hr}}</td>
            <td>{{format-hashrate v.hr2}}</td>
            <td>{{format-relative (seconds-to-ms v.lastBeat)}}</td>
          </tr>
        {{/each-in}}
      </tbody>
    </table>
  </div>
  {{else}}
    <p>No workers online.</p>
  {{/if}}
  <div class="note note-info">
    Your average hashrate is estimated based on submitted shares over short (30m) and long (3h) windows. Dead workers are highlighted if they haven't submitted a share recently.
  </div>
  <div class="note">
    <strong>Your bulk stats JSON API URL:</strong> <a href="/api/accounts/{{model.login}}">/api/accounts/{{model.login}}</a>
  </div>
</div>
